*.o
freembim
docs/
autom4te.cache/
config.log
config.status
configure
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h.in
config.sub
depcomp
install-sh
ltmain.sh
missing
test-driver
.deps/
config.h
libtool
stamp-h1
m4/
version.h
min/

